server:
    port: 6081
spring:
    main:
        allow-bean-definition-overriding: true
    application:
        name: dstone-batch
    datasource:
        common: 
            hikari: 
                driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
                jdbc-url: jdbc:log4jdbc:mysql://localhost:3306/dataflow
                username: ENC(VElaOj1pF3IdRCrKXHIQFVRCQv4hE6Oniig5ohsQ1wY=)
                password: ENC(VElaOj1pF3IdRCrKXHIQFVRCQv4hE6Oniig5ohsQ1wY=)
                maximum-pool-size: 30
            networks: 
                - backend
    devtools: 
        restart: 
            enabled: false
    batch:
        # NEVER/ALWAYS 
        initialize-schema: NEVER
        jdbc:
            initialize-schema: NEVER # NEVER/ALWAYS 
            table-prefix: BATCH_
        job:
            enabled: true  # CommandLineRunner 자동 실행 방지 (Data Flow 사용시 필수)
            names: ${spring.batch.job.name:}
    cloud: 
        task: 
            initialize-enabled: false
            table-prefix: TASK_